    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
    body {
      background: #ece5dd;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

    .chatbar {
      margin-top: 50px;
      bottom: 0;
      display: flex;
      left: 0;
      position: fixed;
      right: 0;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 5px 10px;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      background: tomato;
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .navbar-usercount {
      margin: 0px;
      display: block;
      float: right;
      font-weight: 700;
      font-size: 15px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .navbar ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .navbar li {
      float: left;
    }

    .navbar li a {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 15px;
      height: 60px;
      line-height: 60px;
      padding: 0px 16px;
      text-decoration: none;
    }

    .navbar li a:hover {
      background-color: #111;
    }

    .navbar .selected {
      background-color: purple;
    }

    .notification-content {
      font-style: italic;
      color: tomato;
      overflow: hidden;
      margin: 10px;
      padding: 5px 10px;
      flex: 8;
    }